body {
    background-color: #CCCCCC;

    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

button#add-book {
    margin-bottom: 8px;
}

.card {
    background-color: white;
    padding: 8px;

    width: 60%;
    height: fit-content;

    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
}